#  Elevator Control Panel Configuration Directives

# DeBug Mode
DebugMode=TRUE

# ElevatorKey (The UUID of the Elevator Car)
ElevatorKey=55cbac23-e23e-497a-9fe1-fab35000aa69

# Com Channel
ComChannel=-123456

#Elevator Com Channel
ElevatorChannel=-87170678

# Operational Mode
Operating=TRUE

# Speed per Floor (SpeedT)
SpeedT=5.0

#Floors (One Line Per Floor, Starting @ Floor 1) These Values should be each floors Float Value in Meters of the Vectors Z-Axis
Floor=23.71295
Floor=30.63740
Floor=38.13171
Floor=45.60405
Floor=53.14041
Floor=60.63789
Floor=68.13129
Floor=75.63333
Floor=83.11023
Floor=90.61882
Floor=98.16618
Floor=105.64812
Floor=113.15546
Floor=120.65170
Floor=128.13916
Floor=135.65147

#Admin, Users with Dialog Access
Admin=Tech Guy
Admin=Sebastian Viper